<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdullahafzaldev.regalos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.abdullahafzaldev.regalos.App"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.XRegalos">
        <activity
            android:name="com.abdullahafzaldev.regalos.GetStartedActivity"
            android:screenOrientation="portrait"
            android:exported="true" >

        </activity>

        <activity
            android:name="com.abdullahafzaldev.regalos.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.XRegalos.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.abdullahafzaldev.regalos.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"></activity>

        <service
            android:name="com.abdullahafzaldev.regalos.services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>